.button {
	height: 4rem;
	background: var(--brand-color);
	color: white;
	padding: 1rem 2rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
	border: none;
	border-radius: 1.2rem;
	font-weight: 600;
}

.button_secondary {
	background: var(--secondary-color);
	color: var(--text-inactive-color);
}

.button-group {
	grid-column: span 2;
	display: flex;
	gap: 1.2rem;
}

.button-group > .button {
	flex: 1;
}