.tabs {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .tabs {
		flex-direction: row;
	}
}

.tabs-item {
	position: relative;
	flex: 1;
	display: flex;
	justify-content: center;
	padding: .8rem;
	font-size: 1.4rem;
	line-height: 1.8rem;
	transition: color 0.3s ease-in-out;
	cursor: pointer;
	color: var(--text-inactive-color);
}

.tabs-item:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .1rem;
	background: var(--border-color);
	transition: height 0.3s ease-in-out, background-color 0.3s ease-in-out;
}

.tabs-item.active {
	color: var(--accent-color);
}

.tabs-item.active:after {
	content: "";
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: .2rem;
	background: var(--accent-color);
}