.textarea {
	font-size: 1.4rem;
	line-height: 1.8rem;
	color: var(--text-color);
	padding: 1.3rem 1.2rem;
	border-radius: 1.2rem;
	border: .1rem solid transparent;
	background: var(--background-color);
	resize: none;
	overflow: hidden;
}

.textarea::placeholder {
	color: var(--text-inactive-color);
}